<!DOCTYPE html>
<html>
  <head>
    <title>{{  htmlWebpackPlugin.options.title }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; font-src 'self'; connect-src http://localhost:3001 https://wraithnet-api.onrender.com; img-src http://openweathermap.org/">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
